@import './__header/page__header.css';
.page {
  background: #2A2C2F;
  color: white;
  font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
  .page {
    font-family: 'Inter var', sans-serif;
  }
}
