@import './__item/photo-grid__item.css';
.photo-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 12px;
  color: var(--primary-color);
  font-family: var(--primary-font-family);

  padding: 0 var(--column-margins);
}

@media (min-width: 768px) {
  .photo-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }
}

@media (min-width: 1024px) {
  .photo-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 14px;
  }
}

@media (min-width: 1280px) {
  .photo-grid {
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    padding: 0 48px;
  }
}
