.header__theme-button {
  margin-top: 10px;
  margin-left: 18px;
  font-size: 18px;
  line-height: 20px;
  color: var(--primary-color);
  text-decoration: none;
}

[theme="light"] .header__theme-button_light, [theme="dark"] .header__theme-button_dark {
  text-decoration: underline;
}

@media (min-width: 768px) {
  .header__theme-button {
    margin-top: 12px;
    font-size: 24px;
    line-height: 28px;
  }
}
