@import './__title/lead__title.css';
@import './__subtitle/lead__subtitle.css';
@import './__image-container/lead__image-container.css';
@import './__image/lead__image.css';
@import './__caption/lead__caption.css';
.lead {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  color: var(--primary-color);
  font-family: 'Inter', sans-serif;
}
