@import './__logo/header__logo.css';
@import './__lang-links/header__lang-links.css';
@import './__lang-link-item/header__lang-link-item.css';
@import './__lang-link/header__lang-link.css';
@import './__lang-link/_active/header__lang-link_active.css';
@import './__theme-buttons/header__theme-buttons.css';
@import './__theme-button-item/header__theme-button-item.css';
@import './__theme-button/header__theme-button.css';

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  color: var(--primary-color);
  font-family: 'Inter', sans-serif;
}
