.footer__links {
  list-style: none;
  padding: 0;
}

@media (min-width: 768px) {
  .footer__links {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 18px;
  }
}
