.place__paragraph {
  margin: 0 16px;
  font-family: Inter;
  font-weight: normal;
  font-size: 16px;
  line-height: 163%;
}

.place__paragraph~.place__paragraph {
  margin-top: 24px;
}

@media (min-width: 768px) {
  .place__paragraph {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (min-width: 1024px) {
  .place__paragraph {
    font-size: 18px;
  }
}
