.lead__image-container {
  margin: 40px 0 0;
}

@media (min-width: 768px) {
  .lead__image-container {
    margin-top: 56px;
  }
}

@media (min-width: 1024px) {
  .lead__image-container {
    margin-left: 48px;
    margin-right: 48px;
  }
}

@media (min-width: 1280px) {
  .lead__image-container {
    margin-top: 64px;
    margin-left: 148px;
    margin-right: 148px;
  }
}
