@import './__link/cover__link.css';
@import './__texts/cover__texts.css';
@import './__title/cover__title.css';
@import './__subtitle/cover__subtitle.css';
@import './__overlay/cover__overlay.css';
@import './__background/cover__background.css';
.cover {
  /* position: relative; */
  width: 100%;
  max-width: 1184px;
  margin: 0 auto;
  /* padding-bottom: 62.5%; */
  color: white;
  font-family: 'Inter', sans-serif;
}
