@import '../vendor/normalize.css';
@import '../fonts/inter.css';
@import '../blocks/page/page.css';
@import '../blocks/default-column/default-column.css';
@import '../blocks/section/section.css';
@import '../blocks/content/content.css';
@import '../blocks/flex-column/flex-column.css';
@import '../blocks/header/header.css';
@import '../blocks/lead/lead.css';
@import '../blocks/logo/logo.css';
@import '../blocks/intro/intro.css';
@import '../blocks/photo-grid/photo-grid.css';
@import '../blocks/places/places.css';
@import '../blocks/place/place.css';
@import '../blocks/footer/footer.css';
@import '../blocks/cover/cover.css';
@import '../blocks/theme-control/theme-control.css';

:root {
  --primary-color: white;
  --primary-color-light: #2a2c2f;
  --primary-color-dark: white;
  --bg-color: #2a2c2f;
  --bg-color-light: white;
  --bg-color-dark: #2a2c2f;
  --svg-fill: invert(100%) sepia(0%) saturate(0%) hue-rotate(76deg) brightness(101%) contrast(102%);
  --primary-font-family: 'Inter', sans-serif;
}

[theme='light'] {
  --primary-color: #2a2c2f;
  --bg-color: white;
  /* --svg-fill: invert(100%) sepia(0%) saturate(0%) hue-rotate(76deg) brightness(101%) contrast(102%); */
  --svg-fill: invert(14%) sepia(14%) saturate(304%) hue-rotate(177deg) brightness(89%) contrast(88%);
}

body {
  background: var(--bg-color);
}

:root {
  --column-margins: 16px;
}

@media (min-width: 768px) {
  :root {
    --column-margins: 24px;
  }
}

@media (min-width: 1024px) {
  :root {
    --column-margins: 48px;
  }
}

@media (min-width: 1280px) {
  :root {
    --column-margins: 148px;
  }
}
