@import './__website/place__website.css';
@import './__url-heading/place__url-heading.css';
@import './__title/place__title.css';
@import './__paragraph/place__paragraph.css';
@import './__link/place__link.css';
@import './__image/place__image.css';
.place {
  /* display: block; */
  margin-top: 48px;
}

@media (min-width: 768px) {
  .place {
    margin-left: 24px;
    margin-right: 24px;
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: 1fr 1.03fr;
    gap: 28px;
  }
}

@media (min-width: 1024px) {
  .place {
    margin-left: 48px;
    margin-right: 48px;
    gap: 32px;
  }
}

@media (min-width: 1280px) {
  .place {
    margin-left: 148px;
    margin-right: 148px;
    gap: 40px;
  }
}
