@import './__links/footer__links.css';
@import './__link-list-item/footer__link-list-item.css';
@import './__link/footer__link.css';
@import './__copyright/footer__copyright.css';
.footer {
  padding-bottom: 24px;
  color: white;
  font-family: 'Inter', sans-serif;

  padding-left: var(--column-margins);
  padding-right: var(--column-margins);
}

@media (min-width: 768px) {
  .footer {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: baseline;
  }
}
